/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* My code */

/* 
======================================================
00. Global variables & Utility classes
01. Grid layout
02. Nav
03. Header
04. Main
  a.Courses
  b.Programs
  c.Teachers
  d.Parallax
  e.Why choose us
  f.Contact
05. Footer
====================================================== 
*/

/* 00. Global variables & Utility classes */

* {
	box-sizing: border-box;
}

body {
  margin-top: -6rem;   /* Navbar fix */
  font-weight: 300;
  line-height: 1.7;
  font-family: 'Muli', sans-serif;
}

:root {
  --max-width: 1200px;
  --light-primary-color: #8b88f5;
  --primary-color: #7774e4;
  --dark-primary-color: #5a50e5;

  --light-color: #ffffff;
  --light-gray-color: #fafafa;
  --gray-color: #eaeaea;
  --dark-gray-color: #606060;
  --dark-color: #111111;
}

ul {
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,h2,h3 {
  color: var(--dark-color);
  font-family: 'Segoe UI', sans-serif;
}

p {
  color: var(--dark-gray-color);
  font-size: 1.1rem;
}

input {
  border: none;
  background-color: var(--light-color);
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--max-width);
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  }

.section-content {
  gap: 2rem;
  padding: 6rem 3rem;
}

.section-title {
  /* Prevents the navbar from covering the title */
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title h2 {
  font-size: 3rem;
  margin: 2rem 0rem 1rem 0rem;
}

.section-title p {
  width: 50%;
}

form {
  background: var(--light-color);
  border-radius: .5rem;
  gap: 1rem;
}

form h2 {
  margin: 0;
  padding: 0;
}

.form-group {
  border: 1px solid var(--gray-color);
  padding: .75rem;
  border-radius: .25rem;
  background: var(--light-color);
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  width: max-content;
  transition: all .25s ease-in;
}

.button-primary:hover {
  background-color: var(--dark-primary-color);
  transition: all .25s ease-out;
}

/* Small margin for fontawesome icons */
.fas {
  margin: 0rem .5rem;
}

/* Circle background for fontawesome icons */
.icon-circle {
  color: var(--light-color);
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
}

/* Height and width for fontawesome icons */
.program-info-stats i,
.why-choose-us-stats i {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 00. Global variables & Utility classes */



/* 01. Grid layout */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 100vh auto auto;  /* Navbar Header Main Footer */
  background: var(--light-gray-color);
}

/* 01. Grid layout */



/* 02. Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  padding: 0rem 6rem;

  background: transparent;
  transition: all 0.5s ease;
  z-index: 3;
}


nav > h2 > a,
nav > ul > li > a,
#mobile-menu-icon {
  color: var(--light-color);
  padding: 0 1.15rem;
}

#website-name {
  font-weight: 900;
}

#navigation-bar-list {
  font-weight: 500;
  font-size: 1.25rem;
}

.active {
  text-decoration: solid underline var(--primary-color) 3px;
  font-weight: 900;
}

.change-navbar-color {
  background: var(--light-color);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

#mobile-menu-icon {
  display: none;
  cursor: pointer;
}

.active-mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh !important;
  background: var(--primary-color);
  color: var(--light-color) !important;
}

.display {
  display: flex !important;
  flex-direction: column;
  font-size: 5rem;
}

.hide {
  display: none !important;
}

/* 02. Nav */



/* 03. Header */

header {
  background-image: url(/img/hero_1.jpg);
  background-size: cover;
  display: flex;
  color: var(--lighter-color);
  box-shadow: inset 0 0 0 1000px rgba(52, 58, 64, 0.9);
}

.header-block {
  display: grid;
  grid-template-columns: 3.5fr 1fr 3fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 2rem;
}

.header-block .intro-section {
  grid-column: 1/2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-block .intro-section h1 {
  font-size: 2.5rem;
  color: var(--light-color);
}

.intro-section p {
  color: var(--light-color);
}

.header-block .form-section {
  grid-column: 3/4;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr;
  padding: 2rem;
}

/* 03. Header */



/* 04. Main */

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* 04.a Courses */

.courses {
  background: linear-gradient(to bottom, var(--primary-color) 40%, transparent 0%);
}

.courses .wrapper .section-title h2 {
  color: var(--light-color);
}

.courses .wrapper .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.courses .wrapper .section-content a {
  grid-column: 2/3;
  margin-top: 2rem;
  justify-self: center;
}

.course-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px .75fr .1fr;
  background: var(--light-color);
  position: relative;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
  transition: .3s all ease-in-out;
}

.course-card:hover{
  position: relative;
  top: -1rem;
  box-shadow: 0 10px 20px -1px rgba(0, 0, 0, 0.3);
  transition: .3s all ease-in-out;
}

.course-card#first-card .course-card-image {
  background-image: url(/img/img_1.jpg);
  background-size: cover;
}

.course-card#second-card .course-card-image {
  background-image: url(/img/img_2.jpg);
  background-size: cover;
}

.course-card#third-card .course-card-image {
  background-image: url(/img/img_3.jpg);
  background-size: cover;
}

.course-card-info {
  padding: 1.5rem 1rem;
}

.course-card-info h2 {
  color: var(--light-primary-color);
}

.course-card-info h2,
.course-card-info p {
  margin: .5rem 0rem;
}

.course-card-stats {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
}

.course-card-stats p {
  border-top: 1px solid var(--gray-color);
  margin: 0;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}

#card-stats-total-students {
  justify-content: left;
  border-right: 1px solid var(--gray-color);
}

#card-stats-total-comments {
  justify-content: center;
}

#card-info-small-paragraph,
#card-stats-total-students,
#card-stats-total-comments {
  font-size: 1rem;
}

/* 04.a Courses */


/* 04.b Programs */

.programs .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 3rem;
}

.program-image {
/* https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%
}

.program-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#program-image-one {
  background-image: url(/img/undraw_youtube_tutorial.svg);
  grid-column: 1/3;
  grid-row: 1/2;
}

#program-info-one {
  grid-column: 3/4;
  grid-row: 1/2;
}

#program-image-two {
  background-image: url(/img/undraw_teaching.svg);
  background-position: right;
  grid-column: 2/4;
  grid-row: 2/3;
}

#program-info-two {
  grid-column: 1/2;
  grid-row: 2/3;
}

#program-image-three {
  background-image: url(/img/undraw_teacher.svg);
  grid-column: 1/3;
  grid-row: 3/4;
}

#program-info-three {
  grid-column: 3/4;
  grid-row: 3/4;
}

.program-info-stats {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

/* 04.b Programs */


/* 04.c Teachers */

.teachers .wrapper .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.teacher-card {
  background: var(--light-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border: 1px solid var(--gray-color);
}

.teacher-card-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: block;
  margin: auto;
  position: relative;
  margin-top: -50px; 
}

.teacher-card-info {
  text-align: center;
  padding: 1rem;
}

.teacher-card-info h3 {
  color: var(--dark-gray-color);
}

.teacher-card-info > * {
  margin: .5rem 0rem;
}

#first-teacher {
  background-image: url(/img/person_1.jpg);
  background-size: cover;
}

#second-teacher {
  background-image: url(/img/person_2.jpg);
  background-size: cover;
}

#third-teacher {
  background-image: url(/img/person_3.jpg);
  background-size: cover;
}

#fourth-teacher {
  background-image: url(/img/person_4.jpg);
  background-size: cover;
}

/* 04.c Teachers */


/* 04.d Parallax */

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(/img/parallax_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(42, 41, 70, 0.75);
}

.parallax .teacher-card {
  background: none;
  border: none;
  width: 50%;
  padding: 8rem 0rem 4rem 0rem;
}

.parallax .teacher-card .teacher-card-info#parallax h2,
.parallax .teacher-card .teacher-card-info#parallax p {
  color: var(--light-color);
}

.parallax .teacher-card .teacher-card-info#parallax p {
  font-style: italic;
}

/* 04.d Parallax */


/* 04.e Why choose us */

.why-choose-us {
  height: 100vh;
}

/* Blobs background */
.why-choose-us .blob-container {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.blob {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.blob#one {
  background-image: url(/img/oval_1.svg);
  top: 0;
  right: 0;
  height: 30rem;
  width: 30rem;
}

.blob#two {
  background-image: url(/img/oval_2.svg);
  background-position: bottom;
  bottom: 0;
  left: -150px;
  height: 40rem;
  width: 40rem;
}
/* Blobs background */

.why-choose-us .wrapper {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
}

.why-choose-us .wrapper .section-title {
  height: 20%;
}

.why-choose-us .wrapper .section-content {
  height: 80%;
  padding: 0;
  display: grid;
  grid-template-columns: 8rem 25% 75%;
}

.section-content .why-choose-us-box {
  background: var(--light-color);
  width: max-content;
  height: max-content;
  padding: 1rem;
  grid-column: 2/3;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.section-content .why-choose-us-box p {
  margin: 1.5rem 0;
}

.section-content .why-choose-us-person {
  background-image: url(/img/person_transparent.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: auto;
  width: 75%;
  grid-gap: 2/4;
}

.why-choose-us-stats {
  color: var(--dark-gray-color);
  display: flex;
  justify-content: left;
  align-items: center;
}

/* 04.e Why choose us */


/* 04.f Contact */

.contact {
  background: var(--gray-color);
}

.contact .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .wrapper .section-title,
.contact .wrapper .form-section {
  width: 60%;
}

.contact .wrapper .form-section {
  display: grid;
  grid-template-columns: 1fr 0.005fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 6fr 1fr;
  background: none;
  padding: 3rem 0rem;
}

.contact .wrapper .section-title h2,
.contact .wrapper .section-title p {
  width: 100%;
  text-align: left;
}

.contact .wrapper form #first-name.form-group {
  grid-column: 1/2;
}

.contact .wrapper form #last-name.form-group {
  grid-column: 3/4;
}

.contact .wrapper form #subject.form-group {
  grid-column: 1/4;
}

.contact .wrapper form #email.form-group {
  grid-column: 1/4;
}

.contact .wrapper form #message.form-group {
  grid-column: 1/4;
}

/* 04.f Contact */

/* 04. Main */



/* 05. Footer */

footer .wrapper .section-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 2rem;
}

.section-content .our-mission-section {
  grid-column: 1/2;
}

.section-content .subscribe-section {
  grid-column: 2/3;
}

.subscribe-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subscribe-action .form-group {
  width: 65%;
  border-radius: 0;
}

.subscribe-action a {
  width: 35%;
  border-radius: 0;
  text-align: center;
}

/* 05. Footer */

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  margin: 0;
  padding: 0;
} */
