/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1.05rem;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* My code */

/* 
======================================================
00. Global variables & Utility classes
01. Grid layout
02. Nav
03. Header
04. Main
  a.Courses
  b.Teachers
  c.About
  d.Contact
05. Footer
====================================================== 
*/

/* 00. Global variables & Utility classes */

* {
	box-sizing: border-box;
}

body {
  /* Navbar fix */
  margin-top: -6rem;
  /* font-weight: 300; */
}

:root {
	--max-width: 1200px;
	--lighter-color: #fafafa;
	--light-color: #f3f3f3;
	--gray-color: #c4c4c4;
	--dark-color: #333;
	--darker-color: #111;
}

ul {
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--max-width);
  padding-right: 10px;
  padding-left: 10px;
  /* background-color: rgba(138, 138, 138, 0.493); */
  height: 100%;
  width: 100%;
  /* border: 0.001rem solid red; */
  border: 1px solid cyan;
  }

.section-title {
  /* Prevents the navbar from covering the title */
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: black;
  font-size: 2rem;
  border: 1px solid yellow;
}

.section-content {
  border: 1px solid magenta;
  gap: 2rem;
  padding: 6rem 3rem;
}

p {
  color: gray;
  /* color: red !important; */
  font-size: 1.2rem;
  border: 1px solid cyan;
}

.section-title p {
  width: 50%;
  border: 1px solid red;
  /* Fix this */
  margin: 0;
}

form {
  background: white;
  border-radius: .5rem;
  gap: 1rem;
  /* background: rgba(214, 68, 68, 0.486) !important; */
}

form h2 {
  color: black;
  margin: 0;
  padding: 0;
}

.form-group {
  border: 1px solid lightgray;
  padding: .75rem;
  border-radius: .25rem;
  background: white;
}


/* 00. Global variables & Utility classes */

/* 01. Grid layout */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  /* Navbar Header Main Footer */
  grid-template-rows: 6rem 100vh auto auto;
}

/* 01. Grid layout */

/* 02. Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  padding: 0rem 6rem;

  background: transparent;
  transition: all 0.5s ease;
}

nav > h2 > a,
nav > ul > li > a {
  color: white;
  padding: 0 1.5rem;
}

nav > ul > li > a {
  font-size: 1.25rem;
}

.current-item {
  text-decoration: solid underline #7774e4 3px;
  font-weight: bold;
}

.change-navbar-color {
  background: white;
}

/* 02. Nav */


/* 03. Header */

header {
  background-image: url(/img/hero_1.jpg);
  background-size: cover;
  display: flex;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(52, 58, 64, 0.9);
}

/* 03. Header */

/* 04. Main */

/* CHECK */

main {
  background: gray;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.courses {
  background: linear-gradient(to bottom, #7774e4 40%, white 0%);
}

.courses .wrapper .section-content {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.course-card {
  border: 1px solid black;
  /* width: 20rem; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 4fr 1fr;
  background: white;
}

.course-card-image {
  /* height: 200px; */
  height: 100%;
}

#first-card {
  background-image: url(/img/img_1.jpg);
  background-size: cover;
}

#second-card {
  background-image: url(/img/img_2.jpg);
  background-size: cover;
}
#third-card {
  background-image: url(/img/img_3.jpg);
  background-size: cover;
}

.course-card-info {
  padding: 1rem;
}

.course-card-stats {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
}

.course-card-stats p {
  border: 1px solid gray;
  padding: 0rem 1rem;
  margin: 0;

  display: flex;
  align-items: center;
}

#card-total-students {
  justify-content: left;
}

#card-total-comments {
  justify-content: center;
}

.courses .wrapper .section-content a {
  border: 1px solid cyan;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row: 2/3;
  grid-column: 2/3;
  margin-top: 3rem;
}

/* 04. Main */

/* 05. Footer */


/* 05. Footer */

.header-block {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 3.5fr 1fr 3fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 2rem;
}

.intro-section {
  /* border: 1px solid blue; */
  grid-column: 1/2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro-section h1 {
  font-size: 2.5rem;
}

header .wrapper .header-block .form-section {
  border: 1px solid green;
  grid-column: 3/4;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr;
  padding: 2rem;
}

.button-primary {
  background-color: #7774e4;
  color: white;
  border-radius: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #5a50e5;
}

/* Teachers section */

.teachers {
  background-color: white;
}

.teachers .wrapper .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.teacher-card {
  border: 1px solid black;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border: 1px solid black;
}

.teacher-card-image {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  /* How to do it with flex? Alternatives */
  display:block;
  margin:auto;
  position: relative;
  margin-top: -50px; 
}

.teacher-card-info {
  text-align: center;
  padding: 1rem;
}

.teacher-card-info h2 {
  color: darkgray;
}

#first-teacher {
  background-image: url(/img/person_1.jpg);
  background-size: cover;
}

#second-teacher {
  background-image: url(/img/person_2.jpg);
  background-size: cover;
}

#third-teacher {
  background-image: url(/img/person_3.jpg);
  background-size: cover;
}

/* Programs section */

.programs {
  background: white;
}

.programs .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 3rem;
}

.program-image {
/* https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%
}

.program-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#program-image-one {
  background-image: url(/img/undraw_youtube_tutorial.svg);
  grid-column: 1/3;
  grid-row: 1/2;
  border: 1px solid rgba(0, 0, 255, 0.5);
}

#program-info-one {
  grid-column: 3/4;
  grid-row: 1/2;
  border: 1px solid rgba(255, 0, 0, 0.5);
}

#program-image-two {
  background-image: url(/img/undraw_teaching.svg);
  grid-column: 2/4;
  grid-row: 2/3;
  border: 1px solid rgba(0, 0, 255, 0.5);
}

#program-info-two {
  grid-column: 1/2;
  grid-row: 2/3;
  border: 1px solid rgba(255, 0, 0, 0.5);
}

#program-image-three {
  background-image: url(/img/undraw_teacher.svg);
  grid-column: 1/3;
  grid-row: 3/4;
  border: 1px solid rgba(0, 0, 255, 0.5);
}

#program-info-three {
  grid-column: 3/4;
  grid-row: 3/4;
  border: 1px solid rgba(255, 0, 0, 0.5);
}

/* Programs section */

/* About us section */

.about-us {
  /* background: lightblue; */
  background: white;
}

.about-us .wrapper .section-content {
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; */
  /* padding: 0rem 2rem; */
  padding: 0rem 0rem 0rem 8rem;
  display: flex;
  width: 100%;
}

.about-us-box {
  background: white;
  border: 1px solid red;
  height: 100%;
  width: 40%;

  padding: 1rem;
}

.about-us-box p {
  border: 1px solid magenta;
  width: 100%;
  padding: 1rem;
}

.about-us-person {
  background-image: url(/img/person_transparent.png);
  background-size: contain;
  /* height: 100%; */
  width: 90%;
  padding-top: 75%;
  background-repeat: no-repeat;
  background-position: right;

  border: 1px solid blue;
  
  /* grid-column: 5/11;
  grid-row: 1/3; */
}

/* About us section */

/* Contact us section */

.contact {
  background: #f8f9fa;
}

.contact .wrapper {
  border: 1px solid black;
  width: 35%;
  padding: 2rem 0rem 4rem 0rem;
}

.contact .wrapper .form-section {
  display: grid;
  grid-template-columns: 1fr 0.005fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 6fr;
  background: none;
}

.contact .wrapper .section-title {
  margin-bottom: 2rem;
  border: 1px solid green;
}

.contact .wrapper .section-title h2,
.contact .wrapper .section-title p {
  width: 100%;
  text-align: left;
  margin: 0;
}

.contact .wrapper form #first-name.form-group {
  grid-column: 1/2;
}

.contact .wrapper form #last-name.form-group {
  grid-column: 3/4;
}

.contact .wrapper form #subject.form-group {
  grid-column: 1/4;
}

.contact .wrapper form #email.form-group {
  grid-column: 1/4;
}

.contact .wrapper form #message.form-group {
  grid-column: 1/4;
}

/* Contact us section */

/* Footer */

footer .wrapper .section-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 2rem;
}

footer .wrapper .section-content .our-mission-section {
  grid-column: 1/2;
}

footer .wrapper .section-content .subscribe-section {
  grid-column: 2/3;
}

.subscribe-action {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subscribe-action .form-group {
  width: 60%;
  border-radius: 0;
}

.subscribe-action a {
  width: 40%;
  /* border: 1px solid red; */
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  font-size: 0.75rem;
}

/* Footer */