$body-font-stack: "Muli", sans-serif;
$titles-font-stack: "Segoe UI", sans-serif;
$max-width: 1200px;

$light-primary-color: #8b88f5;
$primary-color: #7774e4;
$dark-primary-color: #625fe0;

$light-color: #ffffff;
$light-gray-color: #fafafa;
$gray-color: #eaeaea;
$dark-gray-color: #414141;
$dark-color: #111111;