form {
  background: $light-gray-color;
  border-radius: 0.5rem;
  gap: 1rem;
}

form h2 {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  background-color: $light-color;
  height: 3.5rem;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.form-group {
  border: 1px solid $gray-color;
  border-radius: 0.25rem;
  background: $light-color;
}

textarea {
  padding: 10px 15px;
}